
body { font-family: Arial, Helvetica, sans-serif;
    
}  
.log-name-large {  
          color: blue;

 } 

.home { 
    color:palevioletred;
    
    
    

}
.service { 
    color: blueviolet;
    
    


}
.information and blog { 
    color: aqua;
    
    

}
.social-well-being {
    color: green;
}
    
    
    


